In [1]:
Months = {
    "Jan":2200,
    "Feb":2350,
    "Mar":2600,
    "Apr":2130,
    "May":2190
}

In [6]:
# in feb how many dollars you spent extra compare to jan ??
Extra_spent = Months["Feb"]-Months["Jan"]
print("I had spent extra",Extra_spent,"$.")

I had spent extra 150 $.

In [8]:
#Find out total expenses.
sum = 0
for i in Months.values():
    sum += i
    
print("TOTAL EXPENSES :",sum)

TOTAL EXPENSES : 11470

In [10]:
for i in Months.values():
    if i == 2000:
        print("i had spent exact 2000$")

In [18]:
Months["Apr"]=2130-200

In [19]:
Months

{'Jan': 2200, 'Feb': 2350, 'Mar': 2600, 'Apr': 1930, 'May': 2190}

In [20]:
Months.append(1980)
print("Expenses at the end of June:",exp)

AttributeError: 'dict' object has no attribute 'append'

In [22]:

exp = [2200,2350,2600,2130,2190]
# 1. In Feb, how many dollars you spent extra compare to January?
print("In feb this much extra was spent compared to jan:",exp[1]-exp[0]) # 150

# 2. Find out your total expense in first quarter (first three months) of the year
print("Expense for first quarter:",exp[0]+exp[1]+exp[2]) # 7150

# 3. Find out if you spent exactly 2000 dollars in any month
print("Did I spent 2000$ in any month? ", 2000 in exp) # False

# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
exp.append(1980)
print("Expenses at the end of June:",exp) # [2200, 2350, 2600, 2130, 2190, 1980]

# 5. You returned an item that you bought in a month of April and
# got a refund of 200$. Make a correction to your monthly expense list
# based on this
exp[3] = exp[3] - 200
print("Expenses after 200$ return in April:",exp) # [2200, 2350, 2600, 1930, 2190, 1980]

In feb this much extra was spent compared to jan: 150
Expense for first quarter: 7150
Did I spent 2000$ in any month?  False
Expenses at the end of June: [2200, 2350, 2600, 2130, 2190, 1980]
Expenses after 200$ return in April: [2200, 2350, 2600, 1930, 2190, 1980]

In [23]:
heros=['spider man','thor','hulk','iron man','captain america']
print("Length of the list is",len(heros))

Length of the list is 5

In [24]:
heros.append("Black panther")

In [25]:
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'Black panther']

In [31]:
heros.remove('Black panther')

In [32]:
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [33]:
heros.insert(3,'Black panther')

In [34]:
heros

['spider man', 'thor', 'hulk', 'Black panther', 'iron man', 'captain america']

In [35]:
heros.pop(1)

'thor'

In [36]:
heros.pop(2)

'Black panther'

In [37]:
heros

['spider man', 'hulk', 'iron man', 'captain america']

In [38]:
heros.sort()

In [39]:
heros

['captain america', 'hulk', 'iron man', 'spider man']

In [40]:
#heros[1:3]=['doctor strange']
#print(heros)

In [42]:
user = int(input("Enter the number :"))
odd = []
for i in range(user):
    
    if i%2!= 0:
                odd.append(i)

Enter the number :10

In [46]:
user = int(input("Enter the number :"))
odd=[]
for i in range(user):
    if i%2 != 0:
        odd.append(i)
        
print("odd numbers",odd)

Enter the number :1000
odd numbers [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 201, 203, 205, 207, 209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 229, 231, 233, 235, 237, 239, 241, 243, 245, 247, 249, 251, 253, 255, 257, 259, 261, 263, 265, 267, 269, 271, 273, 275, 277, 279, 281, 283, 285, 287, 289, 291, 293, 295, 297, 299, 301, 303, 305, 307, 309, 311, 313, 315, 317, 319, 321, 323, 325, 327, 329, 331, 333, 335, 337, 339, 341, 343, 345, 347, 349, 351, 353, 355, 357, 359, 361, 363, 365, 367, 369, 371, 373, 375, 377, 379, 381, 383, 385, 387, 389, 391, 393, 395, 397, 399, 401, 403, 405, 407, 409, 411, 413, 415, 417, 419, 421, 423, 425, 427, 429, 431, 433, 435, 437, 439, 441, 443, 445, 447, 449, 451, 453, 455, 457, 459, 461, 463, 465, 467, 469, 471, 473, 475, 477, 479, 481, 483, 485, 487, 489, 491, 493, 495, 497, 499, 501, 503, 505, 507, 509, 511, 513, 515, 517, 519, 521, 523, 525, 527, 529, 531, 533, 535, 537, 539, 541, 543, 545, 547, 549, 551, 553, 555, 557, 559, 561, 563, 565, 567, 569, 571, 573, 575, 577, 579, 581, 583, 585, 587, 589, 591, 593, 595, 597, 599, 601, 603, 605, 607, 609, 611, 613, 615, 617, 619, 621, 623, 625, 627, 629, 631, 633, 635, 637, 639, 641, 643, 645, 647, 649, 651, 653, 655, 657, 659, 661, 663, 665, 667, 669, 671, 673, 675, 677, 679, 681, 683, 685, 687, 689, 691, 693, 695, 697, 699, 701, 703, 705, 707, 709, 711, 713, 715, 717, 719, 721, 723, 725, 727, 729, 731, 733, 735, 737, 739, 741, 743, 745, 747, 749, 751, 753, 755, 757, 759, 761, 763, 765, 767, 769, 771, 773, 775, 777, 779, 781, 783, 785, 787, 789, 791, 793, 795, 797, 799, 801, 803, 805, 807, 809, 811, 813, 815, 817, 819, 821, 823, 825, 827, 829, 831, 833, 835, 837, 839, 841, 843, 845, 847, 849, 851, 853, 855, 857, 859, 861, 863, 865, 867, 869, 871, 873, 875, 877, 879, 881, 883, 885, 887, 889, 891, 893, 895, 897, 899, 901, 903, 905, 907, 909, 911, 913, 915, 917, 919, 921, 923, 925, 927, 929, 931, 933, 935, 937, 939, 941, 943, 945, 947, 949, 951, 953, 955, 957, 959, 961, 963, 965, 967, 969, 971, 973, 975, 977, 979, 981, 983, 985, 987, 989, 991, 993, 995, 997, 999]